<header class="site-header" role="banner">
    <div class="container">
        <h1 class="title"><%= data.sitename %></h1>
        <span class="a11y">current page: <%= data.title %>, <a href="#page-contents">skip to page contents</a></span>
        <nav class="nav-main" role="navigation" aria-label="Main sections of the site">
            <ul class="nav-items">
                <li><a href="/">Home</a></li><% _.each(tree.children, function(node) { %>
                <li><a href="/<%= node.data.href %>"><%= node.data.title %></a></li><% }); %>
            </ul>
        </nav>
    </div>
</header>