<header class="site-header" role="banner">
    <div class="container">
        <h1 class="title"><%= root.meta.sitename %></h1>
        <span class="a11y">current page: <%= node.meta.title %>, <a href="#page-contents">skip to page contents</a></span>
        <nav class="nav-main" role="navigation" aria-label="Main sections of the site">
            <ul class="nav-items">
                <li><a href="<%= root.href %>">Home</a></li><% _.each(root.children, function(child) { %>
                <li><a href="<%= child.href %>"><%= child.meta.title %></a></li><% }); %>
            </ul>
        </nav>
    </div>
</header>