<!doctype html>
<html>
<head>

<%= _.template.partial('html-head', {config, node, data, tree}) %>

<% if (node.ng && node.ng.app) { %><script>
var app = angular.module('<%= node.ng.app %>', [<%= node.ng.deps %>]);
</script><% } %>

</head>

<body class="<%= node.$body.attr('class') %>"<% if (node.ng && node.ng.app) { %>ng-app="<%= node.ng.app %>"<% } %>>

<div class="site-wrapper">

<%= _.template.partial('site-header', {config, node, data, tree}) %>

    <a name="page-contents"></a>

<%= _.template.partial('page-header', {config, node, data, tree}) %>

    <section class="page-body" role="main">
        <div class="container">

<%= node.$body.html() %>

        </div>
    </section>

</div>

<%= _.template.partial('site-footer', {config, node, data, tree}) %>

</body>

</html>
