<!doctype html>
<html>
<head>

<%= _.template.partial('html-head', {config, root, node, meta}) %>

<% if (meta.ng && meta.ng.app) { %><script>
var app = angular.module('<%= meta.ng.app %>', [<%= meta.ng.deps %>]);
</script><% } %>

</head>

<body class="<%= node.$body.attr('class') %>"<% if (meta.ng && meta.ng.app) { %>ng-app="<%= meta.ng.app %>"<% } %>>

<div class="site-wrapper">

<%= _.template.partial('site-header', {config, root, node, meta}) %>

    <a name="page-contents"></a>

<%= _.template.partial('page-header', {config, root, node, meta}) %>

    <section class="page-body" role="main">
        <div class="container">

<%= node.$body.html() %>

        </div>
    </section>

</div>

<%= _.template.partial('site-footer', {config, root, node, meta}) %>

</body>

</html>
